[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "==0.4"
torchvision = "*"
numpy = "*"
scipy = "*"
dominate = "*"
visdom = "*"
runway-python = "*"

[requires]
python_version = "3.5"
